HEDERA_ENVIRONMENT=
HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=

API_SECRET_KEY=
ENCRYPTION_KEY=

API_URL=
HIDE_STATUS=
WEBHOOK_URL

NFT_STORAGE_TOKEN=
MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com
